{% extends 'header.html' %}

{% block content %}

<div class="center" style="height: calc(100vh - 65px);" id="main-search">
    <div>
        <h1>Задайте свой вопрос</h1>
        <input id="title" placeholder="Краткое описание"><br>
        <textarea id="description" placeholder="Полный вопрос"></textarea>
        <p>Перечислите темы через запятую</p>
        <input id="themes" placeholder="Ваши темы"><br>
        <div class="themes">
            <div onclick="createQuestion();" class="pointer" style="padding: 0 10px 0 10px; height: 30px; margin-right: 10px;"
                 id="user-avatar-gradient">Задать вопрос
            </div>
        </div>
    </div>
</div>

{% endblock %}